.section > .divider:first-child {
  transform: rotate(180deg) translateY(-1px);
}

.section__inner {
  background-color: var(--spot-color, var(--color-bg-accent));
  color: var(--color-text);
}

.section blockquote {
  font-weight: var(--font-bold);
  line-height: 1;
  font-size: var(--size-step-4);
  letter-spacing: var(--tracking-s);
}

.section :is(h1, h2, h3, blockquote) {
  opacity: 95%;
}

.section h1.title-static {
  color: transparent;
  opacity: 1;
  background-color: var(--color-bg);
  background-image: var(--noise-image);
  background-repeat: repeat;
  background-size: 128px 128px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: noise-static 0.35s steps(1) infinite;
}
